<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sorted function</title>
    <link href="CSS.css" rel="stylesheet">
</head>
<body>
    <div>
    <p><h3>Choose function which you want to use!</h3></p>
    <form action="SS.html">
        <input type="submit" value="Standard function!">
    </form>

    <form action="IntS.html">
        <input type="submit" value="The Fastest function!">
    </form>

    <form action="MyS.html">
        <input type="submit" value="Sorted function by Nikita!">
    </form>
    </div>
</body>
</html>
