<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Standard sorted function!</title>
    <link href="CSS.css" rel="stylesheet">
</head>
<body>
<div>
    <p><h3>Third standard function by Python!</h3></p>
    <form action="Sorted.py">
        <input type="submit" value="Code!" title="If you want see code!">
    </form>
</div>
<div>
    <p><h4>Average lead time: ~0.125 or ~0.0937!</h4></p>
    <p><h4>Average time of the first list: ~0.053125</h4></p>
    <p><h4>Average time of the Second list: ~0.05</h4></p>
    <p><h4>Average time of the Third list: ~0.05</h4></p>
    <p><h4>Average time of the Fours list: ~0.14375</h4></p>
</div>
<div>
    <p><h4>First list = [10,9,8,7,6,5,4,3,2,1,0]</h4></p>
    <p><h4>Second list = [4,2,6,5,3,1,10,7,9,8]</h4></p>
    <p><h4>Third list = [1,2,3,4,5,6,7,8,9,10]</h4></p>
    <p><h4>Fours list = [1,2,3,4,5]</h4></p>
</div>
<div id="footer">
    <form action="Choose.html">
        <input type="submit" value="Back!" title="If you want come back...">
    </form>
</div>
</body>
</html>
